@model IEnumerable<FurnitureFactory.Models.Furniture>

<div id="productList">
    <table class="table shopping">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.Raw("€")@Html.DisplayFor(modelItem => item.PricePerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)@Html.Raw(" kg")
                </td>


                <td>
                    <a class="addToCart" data-prod-id="@item.Id" data-prod-name="@item.Name" data-prod-pricePerUnit="@item.PricePerUnit" href="@Url.Action("Index", "ShoppingCart" )" title="Add to Cart"><span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart</a>
                </td>
            </tr>
        }
    </table>
</div>
